body{
	font-size: 12px;
	margin: 5px;
}

.detalhesEvento{
	box-shadow: 0px 0px 5px  grey;
	padding:10px 0px 10px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.formConvidado{
	box-shadow: 0px 0px 5px  grey;
	padding:5px;
	margin-bottom: 5px;
}

.tabelaConvidado{
	width:50%;
}

.formEvento{
	margin-top: 20px;
	width:80%;
}
